@font-face {
    font-family: 'single_sleeveregular';
    src: url('../font/sing-webfont.eot');
    src: url('../font/sing-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/sing-webfont.woff') format('woff'),
         url('../font/sing-webfont.ttf') format('truetype'),
         url('../font/sing-webfont.svg#single_sleeveregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
	margin: 0;
	padding: 0;
	background-color: #41bdd7;
	font-family: Verdana, Arial;
}

h1 {
	font-family: 'single_sleeveregular';
	color: #418543;
	font-size: 27px;
	letter-spacing: 1px;
	font-weight: normal;
	font-style: normal;
	margin: 5px;
	padding: 0;
}


h2 {
	font-family: 'single_sleeveregular';
	color: #41bdd7;
	font-size: 27px;
	letter-spacing: 1px;
	font-weight: normal;
	font-style: normal;
	margin: 5px;
	padding: 0;
}

h2.titres-cases {
	font-family: 'single_sleeveregular';
	color: #418543;
	font-size: 27px;
	letter-spacing: 1px;
	font-weight: normal;
	font-style: normal;
	margin: 5px;
	padding: 0;
}

h3 {
	font-size: 16px;
	color: #89d48b;
	text-transform : capitalize;
	font-weight: normal;
	font-style: normal;
	margin: 0;
	padding: 0;
}

hr {
	border: 1px solid #418543;
}

#bandeau {
	height: 85px;
	padding-top: 25px;
	/* Anciens navigateurs */
	background: #1c5174 url("bandeau-bg.png") repeat-x top;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;

	/* Internet Explorer */
	*background: #1c5174;
	background: #1c5174\0/;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF092e47, endColorstr=#FF1c5174);
	/* Navigateurs récents */
	/* Opera */
	background: #1c5174 url("bandeau-bg.svg");
	background-image: -webkit-gradient(
	linear,
	left top, left bottom,
	from(#092e47),
	to(#1c5174)
	);
	background-image: -webkit-linear-gradient(
	top,
	#092e47,
	#1c5174
	);
	background-image: -moz-linear-gradient(
	top,
	#092e47,
	#1c5174
	);
	background-image: -o-linear-gradient(
	top,
	#092e47,
	#1c5174
	);
	background-image: linear-gradient(
	top,
	#092e47,
	#1c5174
	);
}

.bandeau_droite {

	float: right;
	color: #41bdd7;
	padding-right: 10px;
	font-size: 14px;
}

#bandeau img {
	margin-left: 15px;
}

a {
	color: #41bdd7;
	text-decoration: none;
}

a:hover {
	color: white;
}

.favoris:hover {
	cursor: pointer;
}

#corps_page {
	width: 700px;
	margin: auto;
	background-color: #89d48b;
	border: 1px solid #2a772c;
	padding: 15px;
	margin-top: 50px;
	border-radius: 15px;
	
	box-shadow: 2px 2px 12px #555;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=135, Strength=12);
	zoom: 1;
}

#corps_page table, #corps_page tr, #corps_page td {
	border-collapse: collapse;
}

#corps_page table {
	width: 100%;
	text-align: center;
}

#corps_page td {
	padding: 5px;
}

#corps_page li {
	display: inline-block;
	list-style-type: none;
	margin-left: 5px;
	
}

#corps_page li:hover {
	cursor: pointer;
}

#corps_page ul {
	margin: 0;
	padding: 0;
}

.champs_tva input {
	padding: 5px;
	height: 50px;
	width: 160px;
	background-color: #c5efc6;
	color: #418543;
	border-top: 3px solid #418543;
	border-left: 3px solid #418543;
	border-right: 1px solid #418543;
	border-bottom: 1px solid #418543;
	border-radius: 20px;
	font-size: 20px;
}

.champs_tva {
	color: #418543;
	font-size: 25px;
}

.btn_tva {
	font-size: 11px;
	display: inline-block;
	background-color: #418543;
	padding: 5px;
	border: 1px solid #284904;
	border-radius: 5px;
	color: #89d48b;
	cursor: pointer;
}

.taux {
	background-color: #89d48b;
	border: none;
	font-size: 20px;
	color: #418543;
}

.btn_effacer {
	font-size: 14px;
	display: inline-block;
	color: #1b5072;
	cursor: pointer;
	float: right;
	position: relative;
	right: 20px;
}

.btn_effacer:hover {
	color: black;
}

#cadre_mail {
	width: 350px;
	border: 2px dashed #418543;
	border-radius: 10px;
	text-align: center;
	padding: 15px;
	margin: auto;
	margin-top: 15px;
}

.champs_mail {
	padding: 5px;
	background-color: #c5efc6;
	color: #418543;
	border-top: 3px solid #418543;
	border-left: 3px solid #418543;
	border-right: 1px solid #418543;
	border-bottom: 1px solid #418543;
	border-radius: 20px;
	float: left;
	margin-left: 5px;
}

.btn_email {
	width: 129px;
	height: 32px;
	background-image: url(../img/btn_mail.png);
	background-repeat: no-repeat;
	display: inline-block;
	}

.btn_email:hover {
	background-image: url(../img/btn_mail_hover.png);
	cursor: pointer;
}

#pub1 {
	width: 600px;
	height: 80px;
	margin: auto;
	margin-top: 20px;
}

#pied_page {
	margin-top: 50px;
	background-color: #1c5174;
	padding: 20px;
}

.liste_tva {
	color: white;
	font-size: 12px;
	border-bottom: 1px dashed #41bdd7;
	width: 100%;
}

.liste_tva table, .liste_tva tr, .liste_tva td {
	border-collapse: collapse;
}

.liste_tva td {
	width: 350px;
	padding: 15px;
}

.liste_tva ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.bordure_tableau {
	border-left: 1px dashed #41bdd7;
}

.definitions {
	padding-bottom: 20px;
	border-bottom: 1px dashed #41bdd7;
}

.definitions table {
	color: white;
	font-size: 12px;
	text-align:justify;
	width: 750px;
	margin: auto;
	margin-top: 15px;
}

.definitions td {
	padding-right: 15px;
}

#info_pied_page {
	text-align: center;
	font-size: 11px;
	margin-top: 15px;
	color: white;
}

/* Media screen */
@media screen and (max-width: 900px) {
	.bandeau_droite {
		clear: both;
		background-color: #184969;
		margin-left: -15px;
		width: 100%;
	}
}